# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon
._*

# Thumbnails
._.DS_Store

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files created by VSCode
.vscode/

# Compiled object files and executables
*.o
*.out
*.exe
*.app
*.dSYM/

# Xcode specific files
build/
DerivedData/
*.xcworkspace
*.xcodeproj
xcuserdata/

# Clang & LLVM files
*.ll
*.bc

# Temporary and backup files
*~
*.swp

# Debug logs
*.log

# Ignore all files with a dot prefix
.*

# Ignore all files with a dot prefix in subdirectories
**/.*
